.server-container {
  /*old code*/
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .server-container > a {
    /*old code*/
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

  .left-server-icons {
    height: 44px;
    width: 44px;
    border-radius: 100%;
  }
